@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap');

/* scroll snap */

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background: rgba(0,0,0,1);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

header {
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 999;
}

a { 
    text-decoration: none;
    color: #fff;
}

.scroller {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroller section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

/* background images */
#home-section {
    background: url('../images/main-image-women-practice-yoga.jpg') no-repeat center center;
}

#yin-yoga-section {
    background: url('../images/yin-yoga-image-practice.jpg') no-repeat center center;
}

#about-me-section {
    background: url('../images/about-me-trainer-image.jpg') no-repeat right center;
}

#schedule-section {
    background: url('../images/schedule-image-book-class.jpg') no-repeat left center;
}

/* logo */

.logo {
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 10px;
    padding: 2rem 0;
}

/* nav */

.my-sidebar-nav li {
    list-style: none;
}

.my-sidebar-nav li i {
    padding: 0 2rem;
    font-size: 2rem;
}

.my-sidebar-nav a {
    line-height: 3rem;
    position: absolute;
    right: -10.5rem;
    transition: 0.3s;
    padding: 0.7rem 0;
    width: 15rem;
    border-radius: 5px;
    text-align: justify;
    top: 0;
}

/* style sidebar */

.my-sidebar-nav a:hover {
    right: 0;
    background-color: rgba(168, 140, 118, 1);
}

#home {
    top: 0;
}

#about-me {
    top: 4rem;
}

#yin-yoga {
    top: 8rem;
}

#schedule {
    top: 12rem;
}

/* message for section 1,2,3 */

.welcome-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    text-align: justify;
}

.message-container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
    margin: 10rem 0 1rem 0;
}
.message-container h2 {
    text-align: center;
    line-height: 7rem;
}
.message-container p {
    padding: 1rem 5rem;
    text-align: justify;
    line-height: 2.5rem;

}

.booking {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    z-index: 99;
}

.booking a {
    height: 4rem;
    width: 11rem;
    border-radius: 5px;
    background-color: rgba(168, 140, 118, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99;
}

.scroll-icon {
    width: 50%;
    height: 23rem;
    text-align: center;
    position: sticky;
    padding-top: 1rem;
}

.scroll-icon i {
    padding: 0 1rem;
}

/* styling section 4 */

.schedule-box {
    position: relative;
    top: 17rem;
    width: 50%;
    overflow: auto;
    height: 55%;
    line-height: 3rem;
    margin: 0 auto;
}

.mobile-hidden-message {
    display: none;
}

.mobile-hidden-message input {
    padding: 0.5rem 2rem;
}

.click-btn {
    display: none;
}

.schedule-box i {
    padding: 0 0 1rem 0;
    color:rgba(168, 140, 118, .8);
    position: relative;
    z-index: 3;
}

#class-type:checked ~ div,
#schedule-preferance:checked ~ div,
#sign-up:checked ~ div {
    display: block;
}

.submit {
    height: 4rem;
    width: 11rem;
    border-radius: 5px;
    background-color: rgba(168, 140, 118, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: relative;
    margin-top: 2rem;
}

/* footer */
/* social network sidebar */

footer {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    display: flex;
}

.social-networks li {
    list-style: none;
}

.social-networks li span {
    padding: 0 2rem;
}

.social-networks li i {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks a {
    transition: 0.3s;
    border-radius: 5px;

    width: 2rem;
    display: flex;
    justify-content: flex-end;
    line-height: 4rem;
    padding: 0 1rem;
    z-index: 2;
}

.social-networks a:hover {
    width: 12rem;
    background-color: rgba(168, 140, 118, 1);
}

.design-by {
    font-size: 10px;
    padding: 1rem 0;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: -10;
}

/* media queries */

@media screen and (max-width: 375px) {

    .logo {
        font-size: 5.5rem;
    }

    .schedule-box {
        width: 65%;
    }

}

@media screen and (min-width: 375px) {

    .schedule-box {
        width: 75%;
    }

}

@media only screen and (min-width: 768px) {

    .my-sidebar-nav span {
        padding: 0 1rem;
    }

    .my-sidebar-nav li {
        list-style: none;
        display: inline;
        padding: 0 2rem;
    }

    .my-sidebar-nav li i {
        padding: 0 1rem 0;
        font-size: 2rem;
    }

    .my-sidebar-nav a {
        line-height: 3rem;
        position: relative;
        right: 0;
    }

    #about-me, 
    #yin-yoga,
    #schedule {
        top: 0;
    }

    .message-container {
        margin: 25rem 0 1rem 0;
    }

    .mobile-hidden-message {
        display: block;
    }

    .schedule-box {
        top: 20rem;
        width: 50%;
    }

    footer {
        width: 80%;
        position: absolute;
        justify-content: center;
        justify-content: space-between;
    }

    .social-networks {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-networks span {
        display: none;
    }

    .social-networks li {
        display: inline-block;
        text-align: center;
    }

    .social-networks a {
        padding: 0 2rem;
    }

    .design-by {
        position: relative;
        z-index: 1;
        font-size: 1.5rem;
    }

@media only screen and (min-width: 992px) {
    .schedule-box {
        width: 40%;
    }
}

@media only screen and (min-width: 1200px) {

    .schedule-box {
        width: 32%;
    }
    
}