@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap');

/* scroll snap */

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

header {
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 999;
}

a { 
    text-decoration: none;
    color: #fff;
}

:root {
    --background: rgba(0,0,0,1);
}

.scroller {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroller section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

/* background images */
.home {
    background: url('../images/main-image-women-practice-yoga.jpg') no-repeat center center;
}

.yin-yoga {
    background: url('../images/yin-yoga-image-practice.jpg') no-repeat center center;
}

.about-me {
    background: url('../images/about-me-trainer-image.jpg') no-repeat right center;
}

.schedule {
    background: url('../images/schedule-image-book-class.jpg') no-repeat left center;
}

/* logo */

.logo {
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 10px;
    padding: 2rem 0;
}

/* nav */
/* postion sidebar - reference w3c hover sidenav buttons */

.my-sidebar-nav li {
    list-style: none;
}

.my-sidebar-nav li i {
    padding: 0 2rem;
}

.my-sidebar-nav a {
    line-height: 3rem;
    position: absolute;
    right: -11rem;
    transition: 0.3s;
    padding: 1rem;
    width: 15rem;
    border-radius: 5px;
    text-align: justify;
    top: 0;
}

/* style sidebar */

.my-sidebar-nav a:hover {
    right: 0;
    background-color: rgba(168, 140, 118, .7);
}

#home {
    top: 0;
}

#about-me {
    top: 4rem;
}

#yin-yoga {
    top: 8rem;
}

#schedule {
    top: 12rem;
}

/* message for section 1,2,3 */

.welcome-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    text-align: justify;
}

/* footer */

footer {
    display: block;
    width: 80%;
    position: fixed;
    bottom: 1rem;
}

.social-networks {
    display: flex;
    justify-content: center;
}

.social-networks li {
    list-style: none;
    display: inline;
    padding: 0 2rem;
}

.design-by {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}